<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="/GeTo.png">
    </a>
    <a type="button" class="btn btn-lg btn-primary" href="#" th:href="@{/getos/new}"><span class="glyphicon glyphicon-download"></span>Create GeTo!</a>
    <div>
 		<form class="form-horizontal" th:object="${geto}" th:action="@{/getos}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Creator name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{creator.userName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Creator mail:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{creator.email}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{description}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Place:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{place}"/>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Alsoft27 labs.
  </div>
</div>

</body>
</html>

