<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="/GeTo.png">
    </a>
    <a type="button" class="btn btn-lg btn-primary" href="#" th:href="@{/getos/new}"><span class="glyphicon glyphicon-download"></span>Create GeTo!</a>
    <div th:if="${not #lists.isEmpty(getos)}">
        <h2>Geto's</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Creator</th>
                <th>Description</th>
                <th>Place</th>
                <th>View</th>
                <!-- th>Edit</th-->
                <!-- th>Delete</th-->
            </tr>
            <tr th:each="geto : ${getos}">
                <td th:text="${geto.id}"><a href="/getos/${geto.id}">GeTo Id</a></td>
                <td th:text="${geto.name}">Name</td>
                <td th:text="${geto.creator.email}">Creator</td>
                <td th:text="${geto.description}">Description</td>
                <td th:text="${geto.place}">Place</td>
                <td><a th:href="${'/getos/' + geto.id}">View</a></td>
                <!-- td><a th:href="${'/togethers/edit/' + togetherDTO.id}">Edit</a></td-->
                <!-- td><a th:href="${'/togethers/delete/' + togetherDTO.id}">Delete</a></td-->
            </tr>
        </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Alsoft27 labs.
  </div>
</div>

</body>
</html>

