<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="/GeTo.png">
    </a>
    <p>Place to GeTo</p>
    <a type="button" class="btn btn-lg btn-default" href="#" th:href="@{/getos}"><span class="glyphicon glyphicon-flash"></span>GeTo's</a>
    <a type="button" class="btn btn-lg btn-primary" href="#" th:href="@{/getos/new}"><span class="glyphicon glyphicon-download"></span>Create GeTo!</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Alsoft27 labs.
  </div>
</div>

</body>
</html>
